In [4]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Load the Dataset

In [ ]:
# Load the data from the CSV file into a pandas DataFrame.
df = pd.read_csv('credit card.csv')
print("‚úÖ Dataset loaded successfully!")

# 2. Initial Data Inspection

In [6]:
# Get a first look at the data's structure and content.
print("\n--- Initial Data Inspection ---")
# Display the first 5 rows of the dataset
print("\nüìã First 5 Rows (Head):")
df.head()

--- Initial Data Inspection ---

üìã First 5 Rows (Head):

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [7]:
# Get a concise summary of the DataFrame, including data types and non-null values.
print("\n‚ÑπÔ∏è Data Info:")
df.info()

‚ÑπÔ∏è Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   step            3142 non-null   int64
 1   type            3142 non-null   object
 2   amount          3142 non-null   float64
 3   nameOrig        3142 non-null   object
 4   oldbalanceOrg   3142 non-null   float64
 5   newbalanceOrig  3142 non-null   float64
 6   nameDest        3142 non-null   object
 7   oldbalanceDest  3142 non-null   float64
 8   newbalanceDest  3142 non-null   float64
 9   isFraud         3142 non-null   int64
 10  isFlaggedFraud  3142 non-null   int64
dtypes: float64(5), int64(3), object(3)
memory usage: 270.1+ KB

In [9]:
# Generate descriptive statistics for numerical columns.
print("\nüìä Descriptive Statistics:")
df.describe()

üìä Descriptive Statistics:

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,3142.000000,3.142000e+03,3.142000e+03,3.142000e+03,3.142000e+03,3.142000e+03,3142.000000,3142.0
mean,18.181731,5.041753e+05,9.380078e+05,5.166342e+05,6.034502e+05,1.038512e+06,0.367919,0.0
std,27.917929,1.345891e+06,2.066634e+06,1.657465e+06,1.973508e+06,2.815902e+06,0.482316,0.0
min,1.000000,8.730000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.0
25%,1.000000,6.527698e+03,4.255750e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.0
50%,1.000000,6.116901e+04,5.075200e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.0
75%,33.000000,3.240747e+05,5.679323e+05,2.621973e+04,2.697847e+05,6.380216e+05,1.000000,0.0
max,95.000000,1.000000e+07,1.990000e+07,1.020000e+07,3.300000e+07,3.460000e+07,1.000000,0.0

In [10]:
# Check for any missing values in the dataset.
print("\n‚ùì Missing Values:")
print(df.isnull().sum())

‚ùì Missing Values:
step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

# 3. Analyzing Fraudulent Transactions

In [11]:
# Understand the distribution of the target variable 'isFraud'.
print("\n--- Fraud Analysis ---")
# Count the occurrences of fraudulent vs. non-fraudulent transactions.
fraud_counts = df['isFraud'].value_counts()
print("\nFraudulent vs. Non-Fraudulent Counts:")
print(fraud_counts)

--- Fraud Analysis ---

Fraudulent vs. Non-Fraudulent Counts:
isFraud
0    1986
1    1156
Name: count, dtype: int64

In [12]:
# Visualize the distribution of fraudulent transactions.
plt.figure(figsize=(7, 6))
sns.countplot(x='isFraud', data=df, palette=['#3498db', '#e74c3c'])
plt.title('Distribution of Fraudulent vs. Non-Fraudulent Transactions', fontsize=16)
plt.xlabel('Is Fraud? (0: No, 1: Yes)', fontsize=12)
plt.ylabel('Number of Transactions', fontsize=12)
plt.xticks([0, 1], ['Non-Fraudulent', 'Fraudulent'])
plt.grid(axis='y', linestyle='--', alpha=0.7)
# plt.show() # Uncomment to display the plot
plt.savefig('fraud_distribution.png')
plt.clf()
print("\nüìà Saved plot: fraud_distribution.png")

C:\Users\ankit\AppData\Local\Temp\ipykernel_5940\1593574371.py:3: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

  sns.countplot(x='isFraud', data=df, palette=['#3498db', '#e74c3c'])

üìà Saved plot: fraud_distribution.png

# 4. Analyzing Transaction Types

In [13]:
# Explore the different types of transactions and their relation to fraud.
print("\n--- Transaction Type Analysis ---")
# Count the number of transactions for each type.
type_counts = df['type'].value_counts()
print("\nTransaction Type Counts:")
print(type_counts)

--- Transaction Type Analysis ---

Transaction Type Counts:
type
PAYMENT     998
CASH_OUT    926
TRANSFER    791
CASH_IN     311
DEBIT       116
Name: count, dtype: int64

In [14]:
# Visualize the distribution of transaction types.
plt.figure(figsize=(10, 6))
sns.countplot(x='type', data=df, order=type_counts.index, palette='viridis')
plt.title('Distribution of Transaction Types', fontsize=16)
plt.xlabel('Transaction Type', fontsize=12)
plt.ylabel('Number of Transactions', fontsize=12)
# plt.show() # Uncomment to display the plot
plt.savefig('transaction_types.png')
plt.clf()
print("üìà Saved plot: transaction_types.png")

üìà Saved plot: transaction_types.png

C:\Users\ankit\AppData\Local\Temp\ipykernel_5940\1459057984.py:3: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

  sns.countplot(x='type', data=df, order=type_counts.index, palette='viridis')

In [15]:
# Visualize fraudulent transactions broken down by type.
plt.figure(figsize=(10, 6))
sns.countplot(x='type', hue='isFraud', data=df, order=type_counts.index, palette=['#3498db', '#e74c3c'])
plt.title('Fraudulent Transactions by Type', fontsize=16)
plt.xlabel('Transaction Type', fontsize=12)
plt.ylabel('Number of Transactions', fontsize=12)
plt.legend(title='Is Fraud?', labels=['Non-Fraudulent', 'Fraudulent'])
# plt.show() # Uncomment to display the plot
plt.savefig('fraud_by_type.png')
plt.clf()
print("üìà Saved plot: fraud_by_type.png")

üìà Saved plot: fraud_by_type.png

# 5. Correlation Analysis

In [17]:
# Investigate the relationships between numerical features.

print("\n--- Correlation Analysis ---")
# Calculate the correlation matrix for numerical columns.
correlation_matrix = df.corr(numeric_only=True)

# Plot a heatmap of the correlation matrix.
plt.figure(figsize=(12, 10))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f", linewidths=.5)
plt.title('Correlation Matrix of Numerical Features', fontsize=16)
# plt.show() # Uncomment to display the plot
plt.savefig('correlation_matrix.png')
plt.clf()
print("üìà Saved plot: correlation_matrix.png")

# Display the correlation values with the 'isFraud' column, sorted.
print("\nCorrelation with 'isFraud':")
print(correlation_matrix['isFraud'].sort_values(ascending=False))

--- Correlation Analysis ---
üìà Saved plot: correlation_matrix.png

Correlation with 'isFraud':
isFraud           1.000000
step              0.806796
amount            0.383737
oldbalanceOrg     0.099037
newbalanceDest    0.009942
oldbalanceDest   -0.060313
newbalanceOrig   -0.222409
isFlaggedFraud         NaN
Name: isFraud, dtype: float64